/* Variables*/
$color-blue: #0070f3;
$color-blue2: #4b9cdb;
$color-white: #ffffff;
$color-green: green;
$color-red: red;
$color-orange: #ffa24d;
$color-orange-light: #faf5ed;
$color-orange-light2: #faf5ed;
$color-gray: #666666;
$color-gray2: #E5E5E5;
$color-gray3: #888888;
$color-black: #333333;
$bg-gray: #F7F7F7;

/* Media screen width*/
$sm-width: 767px;
$md-width: 768px;
$lg-width: 960px;
$xl-width: 1200px;


