.weather-widget {
  &__card {
    width: 100%;
    padding: 70px 40px;
    background-color: $color-white;
    @include tablet {
      width: 600px;
      margin: 50px auto;
    }
    &-content {
      position: relative;
    }
    &-footer {
      margin-top: 15px;
    }
  }
  &__search-input-wrapper {
    margin-bottom: 10px;
    position: relative;
  }
  &__search-input {
    width: 100%;
    height: 40px;
    padding-right: 40px;
    padding-left: 10px;
    border: 1px solid rgba(150, 150, 150, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  &__clear-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  &__information {
    border: 1px solid rgba(150, 150, 150, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
  }
  &__location {
    color: $color-black;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 0;
    padding: 20px 20px 0;
  }
  &__current-date {
    font-size: 0.875rem;
    color: $color-gray;
    padding: 0 20px;
  }
  &__current-state {
    text-transform: capitalize;
  }
  &__current-info {
    display: flex;
    padding: 20px;
    min-height: 130px;
  }
  &__current-overall {
    width: 50%;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      margin-right: 5px;
      display: inline-block;
      vertical-align: top;
    }
  }
  &__current-temperature {
    color: $color-black;
    font-size: 2.75rem;
    font-weight: 900;
    margin: 0;
    display: inline-block;
    vertical-align: top;
  }
  &__current-unit {
    font-size: 0.875rem;
    font-weight: 900;
    padding-top: 15px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: top;
    a {
      color: $color-black;
      cursor: pointer;
      &.inactive {
        color: $color-gray3;
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__current-others {
    width: 50%;
    font-size: 0.875rem;
    padding-top: 15px;
    span {
      display: block;
    }
  }
  &__empty {
    text-align: center;
    border: 1px solid rgba(150, 150, 150, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 20px;
  }
  &__day-wrapper {
    display: flex;
  }
  &__day-item {
    width: calc(100% / 8);
    border: 1px solid rgba(150, 150, 150, 0.3);
    border-bottom: none;
    text-align: center;
    cursor: pointer;
    padding: 20px 0;
    color: $color-black;
    &:hover {
      opacity: 0.8;
    }
    &.selected {
      background-color: $bg-gray;
    }
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
    img {
      width: 38px;
      object-fit: cover;
    }
  }
  &__day-name {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 900;
  }
  &__day-min-temperature {
    margin: 0;
    font-size: 0.875rem;
    font-weight: 300;
  }
  &__day-max-temperature {
    margin: 0;
    font-weight: 900;
    font-size: 1rem;
  }
  &__error-message {
    font-size: 0.875rem;
    color: $color-red;
    margin-top: 15px;
    display: block;
  }
  &__loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    bottom: 0;
  }
}
